<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>My application</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#1">Client</a></li>
            <li><a href="#2">Bon</a></li>
            <li><a href="#3">Produs</a></li>

          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>
 
  <div class="container">
    <div>
      <h1>{{ helloWorld }}</h1>
    </div>
  </div>
  

  <hr/>

  <!-- /resources1 -->
  <div class="container">
  <div ng-controller = "ClientController">
    <h1 id = "1">Client</h1>
    <h2>Lista Clienti</h2>
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Nume</th>
        <th>Prenume</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="client in clienti.data" data-id="{{client.id}}">
         <td>{{client.id}}</td>
         <td>{{client.firstName}}</td>
         <td>{{client.lastName}}</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span ng-click="setUpdateClient(client)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span ng-click="deleteClient(client.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
      
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit Client</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editClient.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume" ng-model="editClient.firstName">
          </div>
          <div class="form-group">
            <label for="attribute3">Prenume</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Prenume" ng-model="editClient.lastName">
          </div>
          <button type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Add Client</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="client.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume" ng-model="client.firstName">
          </div>
          <div class="form-group">
            <label for="attribute3">Prenume</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Prenume" ng-model="client.lastName">
          <button type="submit" ng-click="addClient(client)" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>
 

  <hr/>

  <!-- /resources2-->
  <div class="container">
  <div ng-controller = "BonController">
    <h1 id = "1">Bon</h1>
    <h2>Lista Bonuri</h2>
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Total</th>
        <th>Ora</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="bon in bonuri.data" data-id="{{bon.id}}">
         <td>{{bon.id}}</td>
         <td>{{bon.total}}</td>
         <td>{{bon.ora}}</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span ng-click="setUpdateBon(client)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span ng-click="deleteBon(client.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
      
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit Bon</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editBon.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Total</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Total" ng-model="editBon.total">
          </div>
          <div class="form-group">
            <label for="attribute3">Ora</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Ora" ng-model="editBon.ora">
          </div>
          <button type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Add Bon</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="bon.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Total</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Total" ng-model="bon.total">
          </div>
          <div class="form-group">
            <label for="attribute3">Ora</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Ora" ng-model="bon.ora">
          <button type="submit" ng-click="addBon(bon)" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>
 

  <hr/>

  <div class="container">
  <div ng-controller = "ProdusController">
    <h1 id = "1">Produs</h1>
    <h2>Lista Produse</h2>
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Nume</th>
        
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="produs in produse.data" data-id="{{produs.id}}">
         <td>{{produs.id}}</td>
         <td>{{produs.name}}</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span ng-click="setUpdateProdus(client)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span ng-click="deleteProdus(produs.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
      
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit Produs</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editProdus.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Name" ng-model="editProdus.total">
          </div>
          
          <button type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Add Produs</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="produs.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Name" ng-model="produs.total">
          </div>
          <button type="submit" ng-click="addBon(bon)" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>
 

  <hr/>


    

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>